<!DOCTYPE html>
<html>
<head>
    <title>PalaksPhotoWebsite</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => true, :brand => "Palak Shah Photography" do %>
    <%= menu_group :pull => :right do %>
        <%= menu_item "Home" , "/static_pages/home"%>
        <%= menu_item "Browse Photos", photos_path %>
        <%= menu_item "About Us" , "/static_pages/about_us"%>
        <%= menu_divider %>

        <%= render "layouts/search_form" %>
    <% end %>

<% end %>

<div class="container-fluid">
    <div class="row">

        <div class="span9">

            <%= yield %>
        </div>
    </div>
</div>
</div>

</body>
</html>
